<div class="container mt-2">
  <h2>場所一覧</h2>
  <p>全<%= @place_all.count %>件</p>
  <div class="row col-12">
    <% @place.each do |place|%>
    <table class="text-align-center offset-4">
      <thead>
        <tr>
          <td>場所画像</td>
          <td>場所名</td>
          <td>地域名</td>
          <td>コメント</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to place_path(place.id) do %>
            <%= attachment_image_tag(place, :image, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg") %>
            <% end %>
          </td>
          <td>
            <%= link_to place_path(place.id) do %>
            <%= place.name %>
            <% end %>
          </td>
          <td><%= place.region.name %></td>
          <td>
            <%= link_to "#{place.place_comments.count} コメント", place_path(place.id) %></div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @place %>
    </div>
  </div>
</div>