<div class="region">
  <div class="container">
    <h2><%= @regions.name %>地域</h2>
    <p>全<%= @place_all.count %>件</p>
    <div class="row col-12">
      <table class="mx-auto">
        <thead>
          <tr>
            <td width="150">場所名</td>
            <td width="150">地面</td>
            <td colspan="3">住所</td>
          </tr>
        </thead>
        <tbody>
          <% @regions.places.each do |region| %>
          <tr>
            <td>
              <%= link_to place_path(@regions) do %>
              <%= region.name %>
              <% end %>
            </td>
            <td><%= region.ground %></td>
            <td><%= region.address %></td>
          </tr>
        </body>
        <% end %>
      </table>
    </div>
  </div>
</div>