<div class="container mt-2">
  <h2>会員一覧</h2>
  <div class="row">
    <table class="mx-auto">
      <% @user.each do |user| %>
      <thead>
        <tr>
          <td width="150">プロフィール画像</td>
          <td width="150">会員ID</td>
          <td width="150">氏名</td>
          <td width="150">表示名</td>
          <td width="150">メールアドレス</td>
          <td width="150">ステータス</td>
      </thead>
      <body>
        <tr>
          <td width="150"><%= attachment_image_tag(user, :image_id, :fill, 200, 200, format: 'jpeg', fallback: "no_image.jpg") %></td>
          <td><%= user.id %></td>
          <td>
            <%= link_to admins_user_path(user) do %>
            <%= user.last_name %><%= user.first_name %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td><%= user.email %></td>
          <% if user.is_valid == true %>
          <td class="text-success">有効</td>
          <% else %>
          <td class="text-secondary">退会</td>
          <% end %>
        </tr>
      </body>
      <% end %>
    </table>
    <%= paginate @user %>
  </div>
</div>