<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>表示名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <body>
    <% @user.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to admins_user_path(user) do %>
        <p><%= user.last_name %><%= user.first_name %></p>
        <% end %>
      </td>
      <td><%= user.nickname %></td>
      <td><%= user.email %></td>
      <% if user.is_valid == true %>
      <td class="text-success">有効</td>
      <% else %>
      <td class="text-secondary">退会</td>
      <% end %>
    </tr>
    <% end %>
  </body>
</table>
<%= paginate @user %>