<div class="comments">
  <div id="place_comment">
    <div class="commentlist">
      <div class="commentitem">
        コメント<%= place.place_comments.count %>件
        <table>
          <thead>
            <tr>
              <td>ユーザー画像</td>
              <td>名前</td>
              <td>時刻</td>
              <td>コメント</td>
              <td colspan="3"></td>
            </tr>
          </thead>
          <% place.place_comments.each do |place_comment| %>
          <tr>
            <td width="150"><%= attachment_image_tag(place_comment.user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %></td>
            <td width="150"><%= place_comment.user.nickname %>さん</td>
            <td width="150"><%= place_comment.created_at.strftime('%Y/%m/%d') %></td>
            <td width="250"><%= place_comment.comment %></td>
            <td width="150">
              <% if place_comment.user == current_user %>
              <a class="comment-delete">
                <%= link_to "削除", place_place_comment_path(place_comment.place,place_comment), method: :delete, remote: true, class:"btn btn-danger px-4" %>
              </a>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <% if user_signed_in? %>
      <div class="new-comment text-center">
        <%= form_with(model:[@place, @place_comment], remote: true) do |f| %>
        <%= f.text_area :comment, rows:'5', cols:"40",placeholder: "コメントをここに" %>
        <br><span class="text-center"><%= f.submit "送信する", class:"btn btn-primary px-4" %></span>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>