<div class="container mt-2">
  <h2>
     検索結果
    "<%= @content %>"
  </h2>
  <div class="row col-12">
    <table class="mx-auto">
      <thead>
        <tr>
          <% if @model == "region" %>
            <td>地域名</td>
            <td>件数</td>

          <% else %>
            <td>場所名</td>
            <td>地面</td>
            <td>場所説明</td>
          <% end %>
          </tr>
      </thead>
      <body>
        <% if @model == "region" %>
        <% @datas.each do |data| %>
          <tr>
            <td width="150">
              <%= link_to region_path(data.id) do %>
                <%= data.name %>
              <% end %>
            </td>
            <td>
              <%= data.places.count %>件
            </td>
            <% end %>
            <% end %>
          </tr>
            <% if @model == "場所名" %>
            <% @datas.each do |data| %>
          <tr>
            <td>
              <%= attachment_image_tag @place, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            </td>
            <td>
              <%= data.name %>
            </td>
            <td>
              <%= data.ground%>
            </td>
            <td>
              <%= data.explanation %>
            </td>
          </tr>
          <% end %>
          <% end %>
      </body>
    </table>
  </div>
</div>