<div class="container mt-2">
  <h2>場所編集</h2>
  <%= render 'layouts/errors_massage', obj: @place %>
  <%= form_with model: @place, url: admins_place_path, local:true do |f| %>
  <div class="row">
    <table class="mx-auto">
      <tr>
        <td width="100">場所画像</td>
        <td><%= f.file_field :image %></div></td>
      </tr>
      <tr>
        <td>場所名</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>場所説明</td>
        <td><%= f.text_area :explanation %></td>
      </tr>
      <tr>
        <td>地域</td>
        <td><%= f.collection_select(:region_id, Region.all, :id, :name) %></td>
      </tr>
      <tr>
        <td>地面</td>
        <td><%= f.select :ground, [["コンクリート", "コンクリート"], ["砂", "砂"], ["砂利", "砂利"  ] ,["芝生", "芝生"]] %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td colspan="3"><%= f.text_field :address,placeholder:"住所を入力して下さい" %></td>
      </tr>
    </table>
  </div>
    <div class="text-center">
      <%= f.submit '変更を保存', class: 'btn btn-success px-4' %>
      <%=link_to "削除する", admins_place_path(@place), method: :delete, "data-confirm" => "Are you sure?", class: 'btn btn-danger px-4' %>
    </div>
  <% end %>
</div>