<h2>場所一覧</h2>
<p>全<%= @place_all.count %>件</p>
<p>場所の新規登録する場合は<%= link_to "こちら", new_admins_place_path %>から</p>
<table>
  <thead>
    <tr>
      <th>場所画像</th>
      <th>場所ID</th>
      <th>場所名</th>
      <th>地域名</th>
      <th>地面</th>
    </tr>
  </thead>
  <body>
    <% @place.each do |place|%>
      <tr>
        <td><%= attachment_image_tag(place, :image, :fill, 100, 100, format: 'jpeg', fallback: "/no_image.jpg") %></td>
        <td><%= place.id %></td>
        <td>
          <%= link_to admins_place_path(place.id) do %>
          <%= place.name %>
          <% end %>
        </td>
        <td><%= place.region.name %></td>
        <td><%= place.ground %></td>
      </tr>
  </body>
  <% end %>
</table>
<%= paginate @place %>
