<div class="container mt-2">
  <h2>場所一覧</h2>
  <p>全<%= @place_all.count %>件</p>
  <p>新規登録する場合は<%= link_to "こちら", new_admins_place_path %>から</p>
  <div class="row">
    <table class="mx-auto">
      <thead>
        <tr>
          <td width="150">場所画像</td>
          <td width="100">場所ID</td>
          <td width="150">場所名</td>
          <td width="200">住所</td>
          <td width="100">地域名</td>
          <td width="100">地面</td>
        </tr>
      </thead>
      <body>
        <% @place.each do |place|%>
          <tr>
            <td><%= attachment_image_tag(place, :image, :fill, 200, 150, format: 'jpeg', fallback: "no_image.jpg") %></td>
            <td><%= place.id %></td>
            <td>
              <%= link_to admins_place_path(place.id) do %>
              <%= place.name %>
              <% end %>
            </td>
            <td><%= place.address %></td>
            <td><%= place.region.name %></td>
            <td><%= place.ground %></td>
          </tr>
      </body>
      <% end %>
    </table>
    <%= paginate @place %>
  </div>
</div>
