<div class="container mt-2">
    <h2>場所詳細</h2>
  <div class="row">
    <div class="col-4">
      <%= attachment_image_tag(@place, :image, :fill, 300, 200, format: 'jpeg', fallback: "no_image.jpg") %>
    </div>
    <div class="col-8">
      <table class="mx-auto">
        <tr>
          <td width="150">場所名</td>
          <td><%= @place.name %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @place.address %></td>
        </tr>
        <tr>
          <td>地面</td>
          <td><%= @place.ground %></td>
        </tr>
        <tr>
          <td>場所説明</td>
          <td><%= @place.explanation %></td>
        </tr>
        <tr>
          <td>地域名</td>
          <td>
             <%= link_to admins_region_path do %>
             <%= @place.region.name %>
             <% end %>
             <!--地域詳細ページへのリンク-->
          </td>
        </tr>
      </table>
    </div>
      <div class="col-12 text-center">
        <%=link_to "編集する", edit_admins_place_path(@place), class: 'btn btn-success px-4' %>
      </div>
  </div><br>
  <!--地図表示-->
  <div class="row">
  <div id="map" class="col-12 text-center" style='width: 50%; height: 300px;'></div>
    <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: { scrollwheel: false }, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers([
            {
              "lat": <%= @place.latitude %>,
              "lng": <%= @place.longitude %>,
              "infowindow": '<p><%= @place.address %></p><p><%= link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:#{@place.latitude},#{@place.longitude}&iwloc=J",target: "_blank" ,class:"gmap-link"%></p>',

            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.getMap().setZoom(17);
        });
    </script>
  </div>
</div>