<h2>場所詳細</h2>
<%= attachment_image_tag(@place, :image, :fill, 300, 200, format: 'jpeg', fallback: "/no_image.jpg") %>

<div>
  <div>場所名</div>
  <div><%= @place.name %></div>
</div>
<div>
  <div>地面</div>
  <div><%= @place.ground %></div>
</div>
<div>
  <div>場所説明</div>
  <div><%= @place.explanation %></div>
</div>
<div>
  <div>地域名</div>
  <div>
    <%= link_to admins_region_path do %>
    <%= @place.region.name %>
    <% end %>
    <!--地域詳細ページへのリンク-->
  </div>
</div>
<%=link_to "編集する", edit_admins_place_path(@place), class: 'btn btn-success px-4' %>