 <div class="container mt-2">
  <h2>My Page</h2>
  <div class="row col-12">
    <span class="col-4"><%= attachment_image_tag(@user_id, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg") %></span>
    <div class="col-8">
      <h4 class="offset-2">登録情報</h4><br>
      <table>
        <thead>
          <tr>
            <th class="fas fa-signature">氏名</th>
            <th></th>
            <td><%= @user.last_name %><%= @user.first_name %></td>
          </tr>
          <tr>
            <th class="fas fa-file-signature">フリガナ</th>
            <th></th>
            <td><%= @user.k_last_name %><%= @user.k_first_name %></td>
          </tr>
          <tr>
            <th class="fas fa-user">表示名</th>
            <th></th>
            <td><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="fas fa-mail-bulk">郵便番号</th>
            <th></th>
            <td>〒<%= @user.postal_code %></td>
          </tr>
           <tr>
            <th class="fas fa-address-card">住所</th>
            <th></th>
            <td><%= @user.address %></td>
          </tr>
           <tr>
            <th class="fas fa-mobile-alt">電話番号</th>
            <th></th>
            <td><%= @user.telephone_number %></td>
          </tr>
           <tr>
            <th class="fas fa-envelope">メールアドレス</th>
            <th></th>
            <td><%= @user.email %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div><br>
  <div class="text-center">
    <%= link_to "Edit", edit_user_path(@user), class:"btn btn-success px-4" %>
  </div>
</div>